[submodule "src/tree-sitter-scheme"]
	path = src/tree-sitter-scheme
	url = https://github.com/6cdh/tree-sitter-scheme
[submodule "tree-sitter-scheme"]
	path = tree-sitter-scheme
	url = https://github.com/6cdh/tree-sitter-scheme
